/* Base Color Maroon: #80002D
Complement Color: #E6765C
*/

body{
  font-family: 'Domine', serif; 
  padding-right: 0px; 
  overflow-x: hidden;
}
 
h2 {
   text-align: center;
 
}

.navbar-toggler-icon { 
    background-image: none;
    filter: invert(1) brightness(200%); 
}

 img {
   width: 250px;
   height: 250px;
 }

 nav, .custom-footer{
   background-color: #80002D;
   color: white;
 }

video { 
    width: 100%;
}

.navbar-brand{
  color: white !important ;
  font-size: 30px;
}

.nav-item { 
  margin-left: 10px;
}

.nav-link{
  color: white !important;
  font-size: 18px;
}


.footer-text{
  text-align: center;
  margin-top: 3px;
}


 .imagediv {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100%;
   align-items: center;
 }


 .imageparagraph{
   margin: 25px 40px 0px 40px;
   text-align: center; 
}

 .columnClass {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px; 
}

#navbarNav { 
    justify-content: flex-end;
}

.columnClassLastSm { 
    margin-bottom: 30px;
}

@media only screen and (min-width: 767px) { 
    .columnClassLastMd { 
        margin-bottom: 30px;
    }

}
