/* Base Color Maroon: #80002D
Complement Color: #E6765C
*/
body{
  font-family: 'Domine', serif; 
}
 h2 {
   text-align: center;
 }

 img {
   width: 250px;
   height: 250px;
 }

 nav, .custom-footer{
   background-color: #80002D;
   color: white;
 }

video { 
    width: 100%;
}

.navbar-brand{
  color: white !important ;
  font-size: 30px;
}

.nav-item { 
  margin-left: 10px;
}

.nav-link{
  color: white !important;
  font-size: 18px;
}


.footer-text{
  text-align: center;
  margin-top: 3px;
}


 .imagediv {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100%;
   align-items: center;
 }


 .imageparagraph{
   margin: 25px 25px 0px 25px;
   text-align: center; 
}

 .columnClass {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px; 
}

#navbarNav { 
    justify-content: flex-end;
}

.columnClassLastSm { 
    margin-bottom: 30px;
}

@media only screen and (min-width: 767px) { 
    .columnClassLastMd { 
        margin-bottom: 30px;
    }

}
