<!DOCTYPE HTML>
<html>
<head>
      <title>Dameros</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Domine&Playfair+Display&display=swap" rel="stylesheet">
      <!-- custom stylesheets here -->
      <link rel="stylesheet" href="../static/css/index.css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- custom scripts here -->
      <script src="../static/js/index.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Dameros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply">Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/success_stories">Success Stories</a>
      </li>
    </ul>
  </div>
  </nav>

  <form id="website-content-form" name="website-content-form" enctype="multipart/form-data">
  <h3> Home </h3>
  <div class="container">
  <div class="row">
      <div class="col-md-6 admin-column col-12">
          <fieldset>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">First Landing Paragraph
                <div class="admin-text-area-div">
                  <textarea class="form-control admin-text-area" id="index-text-1">{{ page_content["index-text-1"] }}</textarea>
                </div>
              </label>
            </div>
          </fieldset>
        </div>
      <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label>First Landing Image
            <input class="file-upload" name="index-image-1" type="file" id="index-image-1">
            <div class="admin-image-div">
              <img class="admin-image" src="static/img/index-image-1.png">
              <div class="admin-image-banner">
                  Click to change photo
              </div>
            </div>
          </label>
        </div>
      </div>
    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Second Landing Paragraph
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="index-text-2" >{{ page_content["index-text-2"] }}</textarea>

            </div>
          </label>
        </div>
      </div>
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>Second Landing Image
          <input class="file-upload" type="file" id="index-image-2" name="index-image-2">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>

      </div>
    </div>
  </div>
</div>

  <h3> Our Team </h3>
  <div class="container">
    <div class="row">
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>Team Image 1
          <input class="file-upload" type="file" id="" name="apply-image-1">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>

      </div>
    </div>
    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Team Bio 1
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="our-team-bio-1" >1. Enter all your information in the fields below.
  2. Wait for a Dameros representative to respond to your query.
  3. Enjoy your gauranteed results.</textarea>
            </div>
          </label>
        </div>
      </div>
  </div>


  <h3> Apply </h3>
  <div class="container">
  <div class="row">
  <div class="col-md-6 admin-column col-12">
    <div class="form-group">
      <label>Apply Image
        <input class="file-upload" type="file" id="apply-image-1" name="apply-image-1">
        <div class="admin-image-div">
          <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
          <div class="admin-image-banner">
              Click to change photo
          </div>
        </div>
      </label>

    </div>
  </div>
  <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Apply Text
          <div class="admin-text-area-div">
            <textarea class="form-control admin-text-area" id="apply-text-1" >{{ page_content["apply-text-1"] }}</textarea>
          </div>
        </label>
      </div>
    </div>
</div>


<h3> Success Stories </h3>
  <div class="container">
  <div class="row">
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>First Carousel Image
          <input class="file-upload" type="file" id="success-stories-image-1" name="success-stories-image-1">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>

      </div>
    </div>

    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">First Carousel Quote
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="success-stories-text-1" >{{ page_content["success-stories-text-1"] }}</textarea>
            </div>
          </label>
        </div>
      </div>

      <div class="col-md-6 admin-column col-12">
          <div class="form-group">
            <label>Second Carousel Image
              <input class="file-upload" type="file" id="success-stories-image-2" name="success-stories-image-2">
              <div class="admin-image-div">
                <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
                <div class="admin-image-banner">
                    Click to change photo
                </div>
              </div>
            </label>

          </div>
        </div>

    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Second Carousel Quote
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="success-stories-text-2" >{{ page_content["success-stories-text-2"] }}</textarea>
            </div>
          </label>
        </div>
      </div>

    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>Third Carousel Image
          <input class="file-upload" type="file" id="success-stories-image-3" name="success-stories-image-3">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Third Carousel Quote
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="success-stories-text-3" >{{ page_content["success-stories-text-3"] }}</textarea>
            </div>
          </label>
        </div>
      </div>
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>First Bio Image
          <input class="file-upload" type="file" id="success-stories-image-4" name="success-stories-image-4">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-md-6 admin-column col-12">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">First Bio Text
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="success-stories-text-4" >{{ page_content["success-stories-text-4"] }}</textarea>
            </div>
          </label>
        </div>
      </div>
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>Second Bio Image
          <input class="file-upload" type="file" id="success-stories-image-5" name="success-stories-image-5">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Second Bio Text
            <div class="admin-text-area-div">
              <textarea class="form-control admin-text-area" id="success-stories-text-5" >{{ page_content["success-stories-text-5"] }}</textarea>
            </div>
          </label>
      </div>
    </div>

    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label>Third Bio Image
          <input class="file-upload" type="file" id="success-stories-image-6" name="success-stories-image-6">
          <div class="admin-image-div">
            <img class="admin-image" src="https://www.atomix.com.au/media/2017/07/StockPhotoBanner.jpg">
            <div class="admin-image-banner">
                Click to change photo
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="col-md-6 admin-column col-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Third Bio Text
          <div class="admin-text-area-div">
            <textarea class="form-control admin-text-area" id="success-stories-text-6" >{{ page_content["success-stories-text-6"] }}</textarea>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
</div>
</form>

  <div class="custom-footer">
    <div class="row">
    <div class="col-12 col-md-6">
      <div class="footer-text">
        Copyright Dameros 2020
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Email: dameros@dameros.org
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Phone Number: 123456789
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        LinkedIn: Dameros
      </div>
    </div>
  </div>
  </div>
</body>


</html>
