<!DOCTYPE HTML>
<html>
<head>
      <title>Dameros</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Domine&Playfair+Display&display=swap" rel="stylesheet">
      <!-- custom stylesheets here -->
      <link rel="stylesheet" href="../static/css/index.css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- custom scripts here -->
      <script src="static/js/apply.js"></script>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Dameros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply">Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/success_stories">Success Stories</a>
      </li>
    </ul>
  </div>
  </nav>

  <div id="process">
    <div class="filler-color">
    </div>

    <div id="apply-content">
    <h2>The Process</h2>
    <div class="apply-image">
      <img id="apply-image-1" src="static/img/ND Logo.png">
    </div>
    <div id="apply-text-1">
      <ol> <li> Enter all your information in the fields below  </li>
          <li> Wait for a Dameros representative to respond to your query </li>
          <li> Enjoy your gauranteed results </li>
      </ol>
    </div>


  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="apply-name" placeholder="John Smith">
    </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="apply-email" placeholder="jsmith@gmail.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Sport</label>
    <input type="text" class="form-control" id="apply-sport" placeholder="Basketball">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Intended Donation Amount</label>
    <select class="form-control" id="apply-donation-amount">
      <option>$0-$1,000</option>
      <option>$1,000-$10,000</option>
      <option>$10,000-$20,000</option>
      <option>$20,000-$50,000</option>
      <option>$50,000-$100,000</option>
      <option>$100,000+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Philanthropic Interests</label>
    <textarea class="form-control" id="apply-philanthropic-interests" rows="3"></textarea>
  </div>
  <input type="button" value="Submit" onclick="newApplication()" class="btn btn-primary">
</form>
</div>


    <div class="filler-color">
    </div>

</div>





  <div class="custom-footer">
    <div class="row">
    <div class="col-12 col-md-6">
      <div class="footer-text">
        Copyright Dameros 2020
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Email: dameros@dameros.org
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Phone Number: 123456789
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        LinkedIn: Dameros
      </div>
    </div>
  </div>
  </div>
</body>


</html>
