{% extends "base.html" %}
{% block content %}
  <div class="videoDiv">
    <video autoplay loop muted>
        <source src="static/img/roger_federer_foundation.mp4" type="video/mp4">
            Your browser does not support the video tag.
    </video>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 order-1 columnClass">
      <div class="paragraphDiv">
        <h2>Welcome to Dameros</h2>
        <p class="imageparagraph" id="index-text-1">{{ page_content["index-text-1"] }}</p>
    </div>
    </div>
    <div class="col-12 col-md-6 order-2 columnClass">
      <div class="imagediv">
        <img class="landing-image" id="index-image-1" src="static/img/index-image-1.png">
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-3 order-4 columnClass columnClassLastSm">
      <div class="imagediv">
        <img class="landing-image" id="index-image-2" src="static/img/ND Logo.png">
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-4 order-3 columnClass columnClassLastMd">
        <div class="paragraphDiv">
          <h2>Welcome to Dameros!</h2>
          <p class="imageparagraph" id="index-text-2">{{ page_content["index-text-2"] }}</p>
        </div>
    </div>
  </div>
{% endblock %}
