<!DOCTYPE HTML>
<html>
<head>
      <title>Dameros</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Domine&Playfair+Display&display=swap" rel="stylesheet">
      <!-- custom stylesheets here -->
      <link rel="stylesheet" href="../static/css/index.css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- custom scripts here -->
      <script src="static/js/index.js"></script>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Dameros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply">Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/success_stories">Success Stories</a>
      </li>
    </ul>
  </div>
  </nav>
  <div class="videoDiv">
    <video autoplay loop muted>
        <source src="static/img/roger_federer_foundation.mp4" type="video/mp4">
            Your browser does not support the video tag.
    </video>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 order-1 columnClass">
      <div class="paragraphDiv">
        <h2>Welcome to Dameros!</h2>
        <p class="imageparagraph"> Filler text: The University of Notre Dame du Lac (or simply Notre Dame /ˌnoʊtərˈdeɪm/ NOH-tər-DAYM, or ND) is a private Catholic research university in Notre Dame, Indiana, outside the city of South Bend.[7] It was founded in 1842 by Rev. Edward Sorin. The main campus covers 1,261 acres (510 ha) in a suburban setting; it contains a number of recognizable landmarks, such as the Golden Dome, the Word of Life mural (commonly known as Touchdown Jesus), Notre Dame Stadium, and the Basilica.</p>
    </div>
    </div>
    <div class="col-12 col-md-6 order-2 columnClass">
      <div class="imagediv">
        <img src="static/img/ND Logo.png">
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-3 order-4 columnClass columnClassLastSm">
      <div class="imagediv">
        <img src="static/img/ND Logo.png">
      </div>
    </div>

    <div class="col-12 col-md-6 order-md-4 order-3 columnClass columnClassLastMd">
        <div class="paragraphDiv">
          <h2>Welcome to Dameros!</h2>
          <p class="imageparagraph"> Filler text: The University of Notre Dame du Lac (or simply Notre Dame /ˌnoʊtərˈdeɪm/ NOH-tər-DAYM, or ND) is a private Catholic research university in Notre Dame, Indiana, outside the city of South Bend.[7] It was founded in 1842 by Rev. Edward Sorin. The main campus covers 1,261 acres (510 ha) in a suburban setting; it contains a number of recognizable landmarks, such as the Golden Dome, the Word of Life mural (commonly known as Touchdown Jesus), Notre Dame Stadium, and the Basilica.</p>
        </div>
    </div>
  </div>

  <div class="custom-footer">
    <div class="row">
    <div class="col-12 col-md-6">
      <div class="footer-text">
        Copyright Dameros 2020
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Email: dameros@dameros.org
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        Phone Number: 123456789
      </div>
    </div>
      <div class="col-12 col-md-6">
      <div class="footer-text">
        LinkedIn: Dameros
      </div>
    </div>
  </div>
  </div>
</body>


</html>
