/* Base Color Maroon: #80002D
Complement Color: #E6765C
*/
body{
  font-family: 'Domine', serif;
  padding-right: 0px;
  overflow-x: hidden;
}

h2 {
   text-align: center;
   margin: 15px 0px;
}

.navbar-toggler-icon {
    background-image: none;
    filter: invert(1) brightness(200%);
}

 img {
   width: 250px;
   height: 250px;
 }

 nav, .custom-footer{
   background-color: #80002D;
   color: white;
 }

video {
    width: 100%;
}

form{
  margin: 25px 10% ;
}

ol{
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#process{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.navbar-brand{
  color: white !important ;
  font-size: 30px;
}

.nav-item {
  margin-left: 10px;
}

.nav-link{
  color: white !important;
  font-size: 18px;
}

.filler-color{
  background-color: #E6765C;
}

.apply-image{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-text{
  text-align: center;
  margin-top: 3px;
}


 .imagediv {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100%;
   align-items: center;
 }


 .imageparagraph{
   margin: 25px 40px 0px 40px;
   text-align: center;
}

 .columnClass {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px;
}

#navbarNav {
    justify-content: flex-end;
}

.columnClassLastSm {
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .columnClassLastMd {
        margin-bottom: 30px;
    }

    .filler-color{
      width: 25%;
    }

    #apply-content{
      width: 50%;
    }
}

@media only screen and (max-width: 767px){
  .filler-color{
      width: 10%
  }

  #apply-content{
    width: 80%;
  }

}
