/* Base Color Maroon: #80002D
Complement Color: #E6765C
*/
body{
  font-family: 'Domine', serif;
  padding-right: 0px;
  overflow-x: hidden;
}

h2 {
   text-align: center;
   margin: 15px 0px;
}

.navbar-toggler-icon {
    background-image: none;
    filter: invert(1) brightness(200%);
}

 .landing-image {
   width: 250px;
   height: 250px;
 }

 .spaced-header{
   margin: 50px 0px;
 }

 nav, .custom-footer{
   background-color: #80002D;
   color: white;
 }

video {
    width: 100%;
}

form{
  margin: 25px 10% ;
}

ol{
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#process{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.navbar-brand{
  color: white !important ;
  font-size: 30px;
}

.nav-item {
  margin-left: 10px;
}

.nav-link{
  color: white !important;
  font-size: 18px;
}

.filler-color{
  background-color: #E6765C;
}

.apply-image{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.success-row{
  margin: 0px 15px 100px 15px;
  overflow-y: scroll;
  height: 400px;
}

.success-text-column {
  height: 100%;
  overflow-y: scroll;
}

.success-image-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text{
  text-align: center;
  margin-top: 3px;
}


 .imagediv {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 100%;
   align-items: center;
 }


 .imageparagraph{
   margin: 25px 40px 0px 40px;
   text-align: center;
}

.carousel-indicators{
  bottom: unset;
  top: 10px;
}

.carousel-text{
  font-size: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  width: 40px;
  height: 40px;
}

 .columnClass {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 30px;
}

.success-image {
    width: 100%;
}

.success-image-div{
  width: 100%;
}

#navbarNav {
    justify-content: flex-end;
}

.columnClassLastSm {
    margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
    .success-row {
          height: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .columnClassLastMd {
        margin-bottom: 30px;
    }

    .filler-color{
      width: 25%;
    }

    #apply-content{
      width: 50%;
    }

    #all-content{
        min-height: calc(100vh - 71px - 54px);
    }
}

@media only screen and (max-width: 767px){
  .filler-color{
      width: 10%
  }

  #apply-content{
    width: 80%;
  }

  #all-content{
    min-height: calc(100vh - 71px - 108px);

  }
}

.admin-image-div{
  width: 50%;
  position: relative;
}

.admin-image{
  width: 100%;
  height: 100%;
}

.file-upload{
  display: none;
}

.admin-image-banner{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #80002D;
  opacity: .75;
  color: white;
  text-align: center; 
}
